[submodule "themes/PaperMod"]
    path = themes/PaperMod
    url = "https://github.com/beargrllys/MultitabPF.git"
[submodule "public"]
	path = public
	url = https://github.com/beargrllys/beargrllys.github.io.git
	branch = main
